/* footer */
//variable
$footerbgcolor: #444444;
$footerpadding: 29px;





#footer-section{

    .footer-banner
    {
        // padding: $pheading1;
        color: $Fcolor;
        /* background-image: url("img/footer.png"); */
        width: 100%;
        height: 100%;
        background-color: #325C6A;
        /* padding-top: 0; */
        background-repeat: no-repeat;
        
        .footer-detail
        {
            padding: 40px 5px 10px 5px;
            font-size: 2.8vh;
            text-align: center;
            ul
            {
                /* border: 5px solid black; */
                padding: 10px;
                width:75%;
                margin: 0 auto;
                
                li{
                    list-style: none;
                    margin: 0 auto;
                    /* padding: 0; */
                    text-align: center;
                    
                    /* border-bottom:1px solid gainsboro; */
                    a{
                        
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
    }
    
}

.bottom-footer
{
    /* position: fixed; */
    height: 50px;
    color:red;
    font-size: 1.8vh;
    text-align: center;
    background-color: #444444;
}


}