$main-orange:#EA6045;
$main-green:rgba(28, 74, 90, 1);
$bg-color:rgba(28, 74, 90, 1);
$h1-font:5.8vmin;
$h2-font:5.2vmin;
$h3-font:4.3vmin;
$h4-font:4vmin;
$h5-font:3.6vmin;
$h6-font:3.2vmin;
$button-font:2.8vmin;
$p-font:3vmin;
$a-font:2.8vmin;
$li-font:2.8vmin;
