/* footer */
//variable
$footerbgcolor: #444444;
$footerpadding: 29px;
@import "./partials/variables";
@import "./partials/base";




#footer-section{
    .container-fluid
    {
        margin:0px;
        padding: 0px;

    }
    .footer-banner
    {
        height: 100px;
        // border: 1px solid red;

.clip-path-right{
    position: absolute;
    color:red;
         height: 100px;
         width:25%;
         right: 0;
        //  clip-path: polygon(26% 68%, 100% 55%, 57% 80%, 15% 100%, 0 50%, 93% 3%);
         clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
         background-color:$main-fresh;
         z-index:9;
        }

        .clip-path-left{
            position: absolute;
            color:red;
                 height: 100px;
         width:25%;
                 right: left;
                 clip-path: polygon(0 0, 54% 0, 100% 100%, 0% 100%);
                 background-color:$main-fresh;
                 z-index:9;
                }
        .footer-bgcolor{
            
            background-color: #325C6A;
            width: 100%;
            // opacity: .3;
            height: 100%;
                
        }
        .footer-detail
        {
            padding: 10px 5px 10px 5px;
            font-size: 2.8vh;
            text-align: center;
            ul
            {
                /* border: 5px solid black; */
                padding: 10px;
                width:75%;
                margin: 0 auto;
                
                li{
                    list-style: none;
                    margin: 0 auto;
                    /* padding: 0; */
                    text-align: center;
                    
                    /* border-bottom:1px solid gainsboro; */
                    a{
                        
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
    }
    
    
    .bottom-footer
    {
        /* position: fixed; */
        height: 50px;
        color:red;
        font-size: 1.8vh;
        text-align: center;
        background-color: #444444;
    }
}


}