@import "./partials/variables";
@import "./partials/base";
// @import "./partials/layouts";
// @import "./partials/functions";

/* button deail */


// general css class can be used as required
.rectangle-for-wiht-traingle-wrapper{
    background-color: #444444;
    padding: 40px;
}

.rightwindow {
    width: 100%;
    transition: all .5s linear;

}

.rightwindow.active2 {
    transition: all .4s linear;
    width: 80%;
    margin-left: 20%;
    /* border: 1px solid red; */
}




.bg-color {
    padding-bottom: 30px;
    background-color: RGBA(13, 70, 93, 0.9);
    /* background-color: red; */
    min-height: 60px;
    padding-left: -30px !important;
}

.c {
    clear: both;
}





.fancy-shadow-narrow::before {
    content: '';
    height: 10px;
    left: 0;
    right: 0;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .25)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .25), transparent);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, .25), transparent);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .25), transparent);
}


header {


    .bg-color-header {


        @extend .bg-color;

        .navbar-default {
            margin: 0;
            padding: 0;

            .navbar-nav {
                li.active {
                    a {
                        color: #fff;
                        text-transform: uppercase;
                        background-color: rgba(12, 184, 182, 0.21);

                        &:hover {

                            color: $main-orange;
                        }

                        &:focus {
                            color: $main-orange;

                        }
                    }

                }


                li {
                    a {

                        color: #fff;
                        /* border:1px solid red; */
                        text-transform: uppercase;
                        font-size: 14px;
                        box-sizing: border-box;
                        height: 60px;
                        line-height: 40px;
                        margin-right: 25px;
                        font-weight: 300;
                        padding-top: 10px;

                        &:hover {
                            color: $main-orange;
                            background-color: rgba(12, 184, 182, 0.21);
                            border-bottom: 3px solid $main-orange;

                        }

                        &:focus {
                            color: $main-orange;
                            background-color: rgba(12, 184, 182, 0.21);
                            /* border: 1px solid red;    float: left; */
                            /* border-left: none; */
                            /* border-right: none; */
                            border-bottom: 3px solid $main-orange;

                        }
                    }

                }

            }
        }
    }

}

// .navbar-default .navbar-nav > .active > a:focus, 
// .navbar-default .navbar-nav > .active > a:hover {

// }
// .navbar-default {
//     .navbar-nav {

//         li {
//             a {

//                 color: #fff;
//                 /* border:1px solid red; */
//                 text-transform: uppercase;
//                 font-size: 14px;
//                 box-sizing: border-box;
//                 height: 60px;
//                 line-height: 40px;
//                 margin-right: 25px;
//                 font-weight: 300;
//                 padding-top: 10px;
//                 &:hover {
//                     color: $main-orange;
//                     background-color: rgba(12, 184, 182, 0.21);
//                     border-bottom: 3px solid $main-orange;

//                 }

//                 &:focus {
//                     color: $main-orange;
//                     background-color: rgba(12, 184, 182, 0.21);
//                     /* border: 1px solid red;    float: left; */
//                     /* border-left: none; */
//                     /* border-right: none; */
//                     border-bottom: 3px solid $main-orange;

//                 }
//                 }

//         }

//     }

// }



// .affix {
//     background-color: #ffffff !important;
// }

// .affix .navbar-nav>li>a:hover,
// .affix .navbar-nav>li>a:focus {
//     background-color: rgba(12, 184, 182, .2) !important;
// }

.green-background-and-shadow {
    background-color: $bg-color;
    box-shadow: 2px 2px 5px #444444;

}


.top-nav-collapse {
    @extend .green-background-and-shadow;

}

/*-----------------------------------------------------   sidebar menu ---------------------------------- */
nav {

    .sidebar-navbar-toggle-button,
        {
        @extend .green-background-and-shadow;
        font-size: 29px;
        padding: 10px;
        color: $main-orange !important;
        height: 65px;
        z-index: 991;
        position: fixed;
        top: 0;
        left: 0px;
        color: $main-green;
        width: 100%;

        .toggle-button-div {
            cursor: pointer;
            display: inline;
            margin-left: 10px;

            #toggle-closebutton {
                display: none;
            }
        }

        .sidebar-navbar-brand {
            display: inline;
            margin: 0 auto;
            margin-left: 30%;
        }


    }

    .sidebar-wrapper {
        /* z-index: 999; */
        padding-top: 65px;
        position: fixed;
        width: 20%;
        // background-color: RGBA(13, 70, 83, 0.78);
        display: none;


        #sidebar {
            z-index: -1;
            box-sizing: border-box;
            height: 650px;
            width: 100%;
            background-color: #FFF;
            color: rgba(0, 0, 0, .9);
            float: left;
            text-transform: uppercase;
            font-family: sans-serif;
            transition: all 500ms linear;
            box-shadow: 2px 2px 10px #444444;

            ul {
                /* border-right: 1px solid red; */
                /* color:red; */
                height: 100%;

                li {
                    padding: 5px 0;
                    text-align: center;
                    border-bottom: 1px solid rgba(100, 100, 100, .3);
                    list-style: none;
                    font-size: 14px;
                    height: 50px;
                    text-align: center;
                    box-sizing: border-box;

                    a {
                        color: gray;
                        // text-decoration: none;
                    }
                }

                li.sidebar-li-1,
                li.sidebar-li-3,
                li.sidebar-li-5 {
                    border-right: 4px solid $main-orange;
                    color: $main-orange;
                    /* color:#ea6045;     */
                }

                li.sidebar-li-2,
                li.sidebar-li-4,
                li.sidebar-li-6 {


                    border-right: 4px solid rgba(28, 74, 90, 0.9);
                }

                li.sidebar-bottom {
                    border-right: 4px solid rgba(28, 74, 90, 0.9);
                    height: 100%;
                }



                span.sidebar-list-text {
                    position: absolute;
                    margin-left: -130px;
                    //  display: none;     
                }
            }
        }
    }

    .sidebar-wrapper.active1 {
        transition: all .4s linear;
        display: initial;
    }
}



/* small screen navbar */











/********************************************************************************************************
banner              
*************************************************************************************************************/


section#banner.rightwindow {
    background: url("../images/banner-large.png") repeat;
    background-size: contain;
    margin-top: 0px;
    text-align: center;

    .banner-bg-color {
        @extend .bg-color;

        .banner-content {
            padding-top: 500px;
            text-align: center;
            display: inline-block;
            background-color: rgba(255, 255, 255, .91);
            color: red;
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
            // border: 1px solid $main-orange;
            color: #000;
            padding: 20px;


            .banner-content-inner {
                border: 2px dotted #000;
                padding: 20px;

                .banner-text {
                    //  font-family: 'Chewy', cursive; 
                    font-size: 28px;

                    h1 {
                        margin: 0px;

                    }

                    .bushra {
                        color: #ff8a00;
                        color: $main-orange;


                        font-size: 50px;
                        line-height: 80px;
                        font-weight: 600;
                        text-transform: uppercase;
                        padding: 30px 0 35px;
                        text-transform: uppercase;
                    }

                    .btn-appoint {

                        margin-top: 30px;
                        padding: 10px 20px;
                        font-size: 19px;
                        background-color: $main-orange;
                        border-radius: 3px;
                        color: #fff;

                        &:hover,
                        &:focus {
                            box-shadow: 4px 4px 10px #444444;
                            color: $main-green;

                        }
                    }

                }
            }

            // img {
            //     width: 200px;
            //     height: 200px;
            //     box-shadow: 5px 5px 15px #444444;
            //     border-radius: 50%;
            // }


        }

        ul.logo li {
            display: inline;
            padding: 40px;
            margin: auto;

        }

        .arrow-center-down a i {
            text-align: center;
            font-size: 48px;
            color: #fff;
        }
    }
}




// hr.botm-line {
//     height: 3px;
//     width: 60px;
//     background: $main-orange;
//     position: relative;
//     border: 0;
//     margin: 20px 0 20px 0;
// }





/* ---------------------personal skills--------------------------- */

section#personal-skill.rightwindow {
    .personal-skill {

        background-color: #122225;
        /* border:11px solid green; */
        color: #fff;
        text-align: center;
        padding: 60px 0;
        padding: 30px;
        /* width: 100%; */
        transition: all .3s linear;

        .personal-skill-body {
            padding-top: 30px;

            i {
                padding-bottom: 20px;
            }
        }
    }
}


/**********************************  portfolio **********************************************/
section.portfolio.rightwindow {

    .portfolio-bg-color {
        width: 100%;
        padding-top: 30px;
        /* background-color: rgba(0,0,0,.3); */

        .portfolio-header {
            color: #122225;
            text-align: center;
            text-transform: capitalize;
            padding: 10px 20px;
            /*border: 1px solid white;*/
            margin-bottom: 10px;
            /*background-color:ghostwhite;*/

            .portfolio-h1 {
                color: #EA6045;
                /* gba(12, 184, 182, 0.91); */
                /* margin-top: 10px; */
            }

        }

        .portfolio-detail {
            /* border: 1px solid red; */
            margin-bottom: 20px !important;


            .col-div {
                /*padding: 0 !important;*/
                /*width: 400px !important;*/
                /* height: 800px; */
                border: 1px solid gray;
                /* margin-bottom: 10px !important; */
            }



            .portfolio-detail-center {
                height: 100%;
                overflow: hidden;
                padding: 20px 10px;
                /* width: 100%; */
                /*margin-top:-20px;*/
                /* border: 1px solid #777; */
                color: #fff;
                background-color: #EA6045;
                transition: all 500ms ease;
                -webkit-box-shadow: 0 10px 6px -6px #777;
                -moz-box-shadow: 0 30px 6px -6px #777;
                box-shadow: 0 17px 10px -10px #777;
                /*color:#fff;*/
                /*background-color:royalblue;*/
                /*background-color:royalblue;*/
            }

            .portfolio-detail-center:hover {
                /*margin-top:-40px;*/
                -webkit-box-shadow: 0 10px 6px -6px #777;
                -moz-box-shadow: 0 10px 6px -6px #777;
                box-shadow: 0 30px 6px -76px #777;
            }

            .portfolio-detail-center {
                text-align: justify;
            }



            .portfolio-detail-1 {
                position: relative;
                /*text-align: center;*/
                /*overflow:hidden;*/

            }

            .portfolio-detail-1 .img-div1 {
                width: 100%;
                height: 100%;
                /* border: 2px solid red; */
            }

            .portfolio-detail-1 img {
                width: 100%;
                height: 400px;
                /* margin-top: 20%; */
                /* -webkit-box-shadow: 0 10px 6px -6px #777; */
                /* -moz-box-shadow: 0 10px 6px -6px #777; */
                /*box-shadow: 0 10px 6px -6px #777;*/
            }

            .div-wrapper {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }


            .portfolio-text-div1 {
                width: 100%;
                position: absolute;
                height: 100%;
                /*  this is for innner content to make in center */
                display: none;
                /*  */
                top: 0;
                left: 0;
                color: #fff;
                border: 2px solid #fff;
                background-color: rgb(28, 75, 90);
                background-color: #EA6045;

            }

            .portfolio-text-div1 {

                // line-height: 300px;
                div {
                    display: table-cell;
                    vertical-align: middle;

                    .portfolio-all-button {
                        text-transform: uppercase;
                        display: block;
                        padding: 10px 50px;
                        /*border-radius: 0 !important;*/
                        /* font-weight: 700; */
                        border-radius: 5px;
                        font-size: 2.9vmin !important;
                        box-shadow: 5px 5px 10px #444444;
                        transition: all ease-in-out 300ms;
                        /* background-color: #EA6045; */
                        background-color: rgb(28, 75, 90);

                        text-align: center;
                        color: #fff;
                        margin: auto;
                        color: #fff;
                        text-decoration: none;

                        margin-top: 60px;

                        &:hover {
                            /* border: 1px solid red; */
                            box-shadow: 0 17px 10px -10px rgba(0, 0, 0, .4);


                            color: #fff;
                        }



                        .portfolio-button-a {

                            &:hover {
                                text-decoration: none;
                            }
                        }

                    }
                }
            }



        }
    }
}







/****************************** portfolio end*/



.about-header {
    /* border: 3px solid rgba(28,74,90, 0.7); */
    margin: 20px 0;
    text-align: center;

}

.about-header::after {
    content: "";
    width: 170px;
    background-color: #EA6045;
    margin: auto;
    display: block;
    height: 3px;
}

#about-bushra {
    margin-top: 10px;
    margin-bottom: 40px;
}

.about-tech-header {
    margin-bottom: 30px;

    /* margin-left: 30px; */
    text-align: center;
    color: $main-orange;
    box-shadow: 1px 1px 3px #444444;
    border-bottom: 3px solid rgba(28, 74, 90, 0.7);
}

.about-bio-header {
    /* margin-left: 30px; */
    /* height: 100%; */
    /* vertical-align:bottom; */
    text-align: center;
    /* line-height: 100%; */
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px #444444;
    /* font-size: 100%; */
    /* display: flex; */
    /* vertical-align: middle; */
    /* align-items:center; */
    border-bottom: 3px solid rgba(28, 74, 90, 0.7);
    color: $main-orange;
}

.about-bio-header h1 {}

.about-body .col-4 {

    /* border: 1px solid red; */
}

.about-body .col-8 {

    /* margin: 0 40px 0 20px; */
    /* max-width: left; */
    /* box-shadow: 1p   x 1px 10px #444444; */

    /* box-shadow: 1px 1px 10px #444444; */

    /* border: 1px solid red; */

}

.about-body-left {
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    text-align: justify;
    /* border:1px solid red; */
    /* padding-bottom: 10px; */
    /* padding-top: 20px; */
    //  border: 1px solid red; 
}

.about-body-left p {
    /* border:1px solid red; */
    font-size: 2.7vmin !important;
    padding: 10px;
}

.about-body-left img {
    margin-top: 10px;

    max-width: 250px;
    max-height: 250px;
    margin-right: 20px;
    margin-left: 20px;
    /* border: 1px solid red; */
    /* padding: 20px; */
    box-shadow: 1px 1px 3px #444444;

}

.about-body-right ul {
    list-style: none;
    padding: 0 10px;
}

.about-body-right ul li:last-child {


    border-bottom: none;
}

.about-body-right ul li {
    border-bottom: 1px dotted gray;
    margin-top: 8px;
    padding-bottom: 8px;
    font-size: 2.7vmin !important;

}

//  about ends here





@media (max-width:756px) {
    .personal-skill {
    
    // padding:30px;
    }

    #banner {
        background: url('../images/banner-small.png') no-repeat fixed;
        /* border: 11px solid red;margin-left: 100px; */
        /* width: 80%; */
    }

    .navbar {
        display: none;
    }

    .smallnavbar {
        display: initial;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
}

/* media query end here for small screen */

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width:756px) {

    .sidebar-navbar-toggle-button,
    .top-nav-collapse {
        //  border: 10px solid red; 
        /* box-sizing: border-box; */
        /* overflow: none; */
        /* width: 100%; */
        /* padding: 0; */
        background-color: rgba(28, 74, 90, 1);
        box-shadow: 2px 2px 5px #444444;
    }

    .sidebar-navbar-toggle-button {
        display: none;

    }

    .toggle-button-div {
        display: none;
    }

    .rightwindow.active2 {
        width: 100%;
        margin-left: 0 !important;
    }

    .sidebar-toggle-button {
        display: none;
    }

    nav {
        display: none;
    }

    // if parent none all childer none
    // .sidebar-wrapper {
    //     width: 0;
    //     display: none;

    // }

    // #sidebar {
    //     width: 0;

    //     display: none;

    // }

    // .toggle-button {
    //     border: 11px solid red; 
    //     display: none;
    // }

    .navbar-default {
        //        background-color: RGBA(13, 70, 93, 0.9);

    }
}

/* media query end here for large screen */


